@use '../abstracts/' as *;

* { box-sizing: border-box; }

@for $i from 1 through 12 {
    .grid-col-#{$i} {
        grid-column: auto / span $i;
    }
}

body {
    background: $lightbeige;
    color: $black;
}

img { width: 100% }

svg { background: transparent }

button {
    font-family: $lato;
    cursor: pointer;
    background: transparent;
    border: 0;
    color: $black;
    padding: unset;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $black;
    overflow: hidden;
}

input {
    appearance: none;
    background: none;
    border: 0;
    outline: none;

    &:focus { outline: none };

}

.wrapper,
.wrapper--inner {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-bottom: $mb-section--mobile;

    @include tablet { padding: 0 2rem; }
    @include laptop { margin-bottom: $mb-section--laptop; }

    &--inner {
        margin-bottom: $mb-innerSection--mobile;
        @include laptop {
            margin-bottom: $mb-innerSection--laptop;
            padding: 0 2rem;
        };
    }

}

.highlight,
.highlight--vertical,
.highlight--white {
    text-transform: capitalize;
    border: $blackLine;
    border-radius: $br-smallChip;
    padding: 0.2rem 0.5rem;
    font-family: $BigDailyShort400;

    &--vertical { padding: 0.5rem 0.2rem; }
    &--white { border: $lightbeigeLine; }
}


.keywordsContainer{ 
    padding: 0.8rem 0;
    @include flex(flex-start, center);
    flex-wrap: wrap;
    @include laptop { padding: 1rem 0 };
}

.keywords, 
.keywords--white {
    font-size: $fs-smallText--mobile;
    text-transform: uppercase;
    border: $blackLine;
    border-radius: $br-smallChip;
    padding: $p-smallChip--mobile;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;

    @include laptop { font-size: $fs-smallText--laptop; };

    &--white {
        color: $lightbeige;
        border: $lightbeigeLine;
    }
}


// HERO Three.js
.heroObjects {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

.text--highlight {
    font-family: $BigDailyShort400;
}



/* ------------------------
Scrollbar
------------------------ */

::-webkit-scrollbar { width: 0.7rem; }
::-webkit-scrollbar-track { background: $lightbeige; }
::-webkit-scrollbar-thumb { background: $black; }



.glass__black {
    border-radius: 50px;
    position: absolute;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100%;
    background: $black;
    opacity: 0.7;
    z-index: -1;

    @include desktop { border-radius: 100px; }
}


.transitionAnim {
    width: 100vw;
    height: 100vh;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
}