@use '../abstracts/' as *;

// ---- GLOBAL ---- //

* { box-sizing: border-box; }

body {
    background: $lightbeige;
    color: $black;
}

img { width: 100%; };

svg { background: transparent }

button {
    font-family: $lato;
    cursor: pointer;
    background: transparent;
    border: 0;
    color: $black;
    padding: unset;
}

input {
    appearance: none;
    background: none;
    border: 0;
    outline: none;

    &:focus { outline: none };

}


// ---- CUSTOM ---- //

// WRAPPER //
.wrapper,
.wrapper--inner {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-bottom: $mb-section--mobile;

    @include tablet { padding: 0 2rem; }
    @include laptop { margin-bottom: $mb-section--laptop; }

    &--inner {
        margin-bottom: $mb-innerSection--mobile;
        @include laptop {
            margin-bottom: $mb-innerSection--laptop;
            padding: 0 2rem;
        };
    }

}

// ROUND HIGHLIGHT //
.highlight,
.highlight--white {
    font-family: $PTSerif;
    text-transform: capitalize;
    border: $blackLine;
    border-radius: $br-smallChip;
    padding: 0.2rem 0.6rem;

    &--white { border: $lightbeigeLine; }
}


// IMAGE LAZY LOADING //
.lazyImgPlaceholder,
.lazyImage {
    width: 100%;
    height: 100%;
}

.lazyImgPlaceholder { filter: grayscale(0.6); }


// PROJECT CARD TECH KEYWORDS //
.keywordsContainer{ 
    padding: 0.8rem 0;
    @include flex(flex-start, center);
    flex-wrap: wrap;
    @include laptop { padding: 1rem 0 };
}

.keywords {
    font-size: $fs-smallText--mobile;
    text-transform: uppercase;
    border: $blackLine;
    border-radius: $br-smallChip;
    padding: $p-smallChip--mobile;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;

    @include laptop { font-size: $fs-smallText--laptop; };
}


// HOME HERO BANNER THREE.JS OBJECTS //
.heroObjects {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

.text--highlight {
    font-family: $PTSerif;
}


// SCROLL BAR //
::-webkit-scrollbar { width: 0.7rem; }
::-webkit-scrollbar-track { background: $lightbeige; }
::-webkit-scrollbar-thumb { background: $black; }




.transitionAnim {
    width: 100vw;
    height: 100vh;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
}




.slide {
    position: fixed;
    @include flex(center, center);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $black;
    transform-origin: top;
}


.transition-submark {
    width: 30px;
    height: 30px;
    animation: submark 1s infinite;
}

@keyframes submark {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}