@use '../../sass/abstracts/' as *;

.container {
    @include flex(center, center);
    margin: 0.25rem 0.5rem;
    overflow: hidden;
    font-family: $PTSerif;
    font-size: $fs-home-heroSubTitle--mobile;
    @include desktop { font-size: $fs-home-heroSubTitle--desktop; }

    &:hover .cta { @include flex(center, center); }
}

.cta {
    margin-left: 0.3rem;
    display: none;
}