@use '../../sass/abstracts/' as *;

.container {
    @include flex(center, center);
    margin: 0.25rem 0.5rem;
    overflow: hidden;
    font-family: $BigDailyShort500;
    font-size: $fs-home-heroSubTitle--mobile;
    @include desktop { font-size: $fs-home-heroSubTitle--desktop; }

    .cta {
        margin-left: 0.3rem;
        display: none;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &:hover .cta { display: block; }
}