@use './variables' as *;

// --- GLOBAL --- //

@mixin positionFixed($left: 0, $top: 0){
    position: fixed;
    left: $left;
    top: $top;
}

@mixin positionAbsolute($left, $right, $top, $bottom){
    position: absolute;
    left: $left;
    right: $right;
    top: $top;
    bottom: $bottom;
}


// --- LOCAL --- //

@mixin btnLayout(){
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    border-radius: 30px;
}

@mixin h3Title($color: $black){
    color: $color;
    font-size: 20vw;
    white-space: nowrap;
}

@mixin h3TitleBg() {
    padding: 2rem 0;
    overflow: hidden;
}

@mixin homeBannerDiv($borderBottom: $blackLine){
    height: calc((100vh - 60px) / 5);
    border-bottom: $borderBottom;
}

@mixin homeBannerTxt($fontSize, $textTransform: uppercase){
    white-space: nowrap;
    user-select: none; 
    font-size: $fontSize;
    text-transform: $textTransform;
}