@use '../../../sass/abstracts/' as *;


.container {
    margin-top: $mt-firstSection-mobile;
    @include laptop {  margin-top: calc(60px + 3rem); };
}

.heading { 
    padding-bottom: $pb-heading--mobile;
    @include laptop { padding-bottom: $pb-heading--laptop; };
}

.contentContainer {
    @include laptop {
        @include grid(auto 1fr, 3rem);
    }
}

.slider {
    position: -webkit-sticky;
    position: sticky;
    top: calc(60px + 1rem);
    display: none;

    @include laptop {
        display: block;
        height: calc(100vh - ((60px + 1rem) * 2));
        @include flex(space-evenly, center, column)
    }

    .sliderIndex {
        cursor: pointer;
        @include flex(center, center);
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-align: center;
        line-height: 1;
        font-size: $fs-smallText--laptop;
        text-transform: uppercase;
        color: $grey;
        font-weight: bold;

        &:hover {
            color: $black;
        }
    }
}

// ---- Card Lists ---- //
.listContainer { 
    overflow: hidden;
    @include grid(unset, unset, repeat(auto-fill, 1fr), 3rem);  
}

.card {
    overflow: hidden;
    position: relative;

    &:hover a .cardImg img{
        filter: unset;
        transform: scale(105%);
    }

    a {
        @include flex(center, center, column);

        .cardImg{
            @include flex(center, center);
            border: $greyLine;
            border-radius: $br-img;
            overflow: hidden;

            img {
                filter: grayscale(0.6);
                transition: all 300ms cubic-bezier(.44,0,.66,.99);
            }
        }

        .cardDetails {
            height: 100%;
            width: 100%;
            padding-top: 1rem;
            position: relative;

            .id {
                writing-mode: vertical-lr;
                @include positionAbsolute(auto, 0, 1rem, auto);
            }

            .txtContainer {
                width: 100%;
                @include flex(space-between, flex-start, column);
            }
        }
    }

}
