@use '../../../sass/abstracts/' as *;


.container {
    margin-top: $mt-firstSection-mobile;
    @include laptop {  margin-top: calc(60px + 3rem); };
}

.contentContainer {
    @include laptop { @include grid(auto 1fr, 3rem); }
}

.slider {
    position: -webkit-sticky;
    position: sticky;
    top: calc(60px + 1rem);
    display: none;

    @include laptop {
        display: block;
        height: calc(100vh - ((60px + 1rem) * 2));
        @include flex(space-evenly, center, column)
    }
}

.sliderIndex {
    cursor: pointer;
    @include flex(center, center);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    line-height: 1;
    font-size: $fs-smallText--laptop;
    text-transform: uppercase;
    color: $grey;
    font-weight: bold;

    &:hover {
        color: $black;
    }
}
