@use '../../../sass/abstracts/' as *;

.container {
    margin-top: $mt-firstSection-mobile;
    @include laptop { margin-top: calc(60px + 3rem); };
}


// TITLE & SOCIAL CTA //
.titleContainer {
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: $pb-heading--mobile;

    @include laptop { 
        @include flex(flex-start, flex-start, column);
        padding-bottom: $pb-heading--laptop;
    }

    h1, p {
        line-height: 1.2;
        font-size: $fs-heroTitle--mobile;
        text-align: center;

        @include laptop { 
            text-align: left;
            font-size: 4rem; 
        };
        @include desktop { font-size: 5rem; };
    }
}


// CONTENT WRAPPER //
.parentContainer {
    @include laptop { @include grid(repeat(12, 1fr), 1.5rem); }
    @include desktop { column-gap: 2rem; };
}


// IMAGE //
.imgContainer {
    @include flex(center, center);
    @include laptop { align-items: flex-start; };

    img {
        border: $greyLine;
        border-radius: $br-img;
    }
}


// SOCIAL CTA & TEXT //
.contentContainer { @include flex(flex-start, flex-start, column); }

.socialContainer {
    width: 100%;
    @include flex(center, center, column);
    padding: 2rem 0;

    @include laptop { 
        order: 2;
        align-items: flex-start;
    };

    span {
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
        @include laptop { padding-bottom: 1rem; };
    }
}

.socialList {
    @include flex(center, center);
    flex-wrap: wrap;

    @include laptop {
        margin-bottom: 0;
        @include flex(flex-start, flex-end);
    }
}

.txtContainer{
    @include laptop {
        padding-top: 0;
        font-size: $fs-p-readability--laptop;
        line-height: $lh-p-readability--laptop;
    }

    p { padding-bottom: $pb-paragraph; }
}