@use '../../../sass/abstracts/' as *;

.container {
    margin-top: $mt-firstSection-mobile;
    @include laptop { 
        margin-top: calc(60px + 3rem);
        @include grid(auto 1fr, 2rem);
    };
}

.content {

    position: relative;
    overflow: hidden; 

    @include tablet {
        border: $greyLine;
        border-radius: $br-container--mobile;
    }

    section { 
        p { line-height: 1.7; }
    }
}
