@use '../../../sass/abstracts/' as *;

// ---- Heading ---- //
.heading { 
    padding-bottom: $pb-heading--mobile;
    @include tablet { @include grid(repeat(2, 1fr), 1rem); }
    @include laptop { padding-bottom: $pb-heading--laptop; };

    .subTxt {
        text-align: center;
        text-transform: uppercase;
        padding-top: $pt-headingSubText--mobile;

        @include tablet {
            text-align: end;
            @include flex(flex-end, flex-end);
            padding: 0 0 0.5rem 0;
        }

        @include laptop {
            @include flex(flex-end, flex-start);
            padding: 0.5rem 0 0 0;
        }
    }
}

// ---- Projects List ---- //
.cardContainer {
    @include grid(none, none, repeat(4, 1fr), 3rem);
    padding-bottom: $mb-innerSection--mobile;

    @include laptop { 
        @include grid(repeat(2, 1fr), 2rem, repeat(2, 1fr), 3rem);
        padding-bottom: $mb-innerSection--laptop;
    };
}

.card {
    grid-row: auto / span 1;

    a {
        @include flex(center, center, column);

        .cardImg{
            @include flex(center, center);
            border: $greyLine;
            border-radius: $br-img;
            overflow: hidden;

            img {
                filter: grayscale(0.6);
                transition: all 300ms cubic-bezier(.44,0,.66,.99);
            }
        }

        .cardDetails {
            height: 100%;
            width: 100%;
            padding-top: 1rem;
            position: relative;

            .id {
                writing-mode: vertical-lr;
                @include positionAbsolute(auto, 0, 1rem, auto);
            }

            .txtContainer {
                width: 100%;
                @include flex(space-between, flex-start, column);
            }
        }
    }

    &:hover .cardImg img { 
        filter: unset;
        transform: scale(105%);
    }
}
