@use '../../../sass/abstracts/' as *;

.storiesContainer { @include grid(unset, unset, auto 1fr, 1rem); }

.content{
    @include laptop {
        @include grid(repeat(12, 1fr), 2rem);

        &:nth-child(2){ text-align: right; }
    }
}

.img__reverse { @include laptop { order: 2; } }

.txt {

    h4 {  
        padding: 2rem 0;
        width: 100%;
        @include laptop { padding-bottom: 1rem; }
        @include desktop { padding-bottom: 0; }
    };

    @include laptop {
        @include flex(flex-end, flex-start, column);
        padding-bottom: 3rem;
    }

    p { 
        padding-bottom: $pb-paragraph;

        @include laptop{ 
            padding-bottom: 0;
            grid-column: auto / span 6;
            @include flex(center, center);
        }
    }
}