@use '../../sass/abstracts/' as *;

.wrapper,
.wrapper__mobile {
    @include positionFixed();
    @include flex(center, center);
    z-index: 10;
    width: 100%;
    height: 60px;
    mix-blend-mode: difference;

    &__mobile { mix-blend-mode: normal; }
}

.container {
    width: 100%;
    height: 60px;
    @include flex(space-between, center);
    position: relative;
}

.logo {
    padding-left: 1.5rem;
    color: $lightbeige; 
    font-weight: 900;
    font-size: 1.2rem;
}

.navButton {
    padding-right: 1.5rem;
    @include laptop { display: none };

    svg {
        cursor: pointer;
        width: 27px;
        height: 27px;
        fill: $lightbeige;   
    }
}

.navButton__desktop {
    padding-right: 1.5rem;
    display: none;
    @include laptop { display: block };

    ul {
        @include flex(space-between, center);

        li {
            cursor: pointer;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            padding: 0.5rem 1.5rem;
            transition: all 300ms ease-in-out;

            &:hover {
                text-decoration: underline;
                text-decoration-color: $lightbeige;
            }

            a { color: $lightbeige; }
        }
    }
}


.navContainer__mobile {
    background: $black;
    position: absolute;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 35vh;
    z-index: -10;
    animation: slideIn 300ms forwards;
    @include flex(center, flex-end);
    padding: 1.5rem;

    ul {
        width: 100%;
        @include flex(flex-start,flex-start, column);

        li {
            margin-top: 0.5rem;

            a{ 
                color: $grey;
                text-transform: uppercase;

                &:hover {
                    color: $lightbeige;
                    font-family: $PTSerif;
                    text-transform: capitalize;
                    
                }
            }
        }
    }
}

@keyframes slideIn {
    from { 
        top: -100%;
        opacity: 0;
    }
    to { 
        top: 0;
        opacity: 1;
    }
}


@media print {
    header * {
        display: none;
    }
}