@use '../../sass/abstracts/' as *;

.container {
    margin-top: $mt-firstSection-mobile;
    @include laptop {  margin-top: calc(60px + 3rem); };
}

.contentContainer {
    @include flex(flex-end, center, column);
    margin-bottom: 2rem;

    @include laptop { @include grid(repeat(12, 1fr), 2rem); }
}

.txtContainer {
    text-align: center;
    @include laptop {
         text-align: left; 
         grid-column: auto / span 8;
    }
}
 
.keywords { 
    @include flex(center, center);
    @include laptop { justify-content: flex-start; }
}


.btnContainer {
    @include flex(space-between, center);
    padding-top: 2rem;

    @include laptop {
        grid-column: 9 / span 4;
        padding: 0;
        height: 100%;
        @include flex(flex-end, flex-end);
    }
}

.bannerImg {
    img { border-radius: $br-img; }
}