@use '../../../sass/abstracts/' as *;
@use 'sass:math';

.container {
    @include flex(center, center, column);
    background: $lightbeige;
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 0 1rem;
    margin-bottom: 5rem;

    @include tablet { 
        padding: 0 2rem;
        margin-bottom: 7rem;
    }
    @include laptop { 
        padding: 0 3rem;
        margin-bottom: 9rem;
    }

    @include desktop { margin-bottom: 12rem; }
}

.circlesWrapper {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    @include flex(center, center);
}

.circlesContainer {
    position: relative;
    width: 100%;
    height: 100%;
    @include flex(center, center);
    // background-color: $black;
}

.leftCircle {
    width: 98%;
    height: calc(100% - 150px);
    border: 3px solid $black;
    border-radius: 200px;
}

// ----- Hidden H1 ----- //
.title { opacity: 0; }


// ----- Hero Texts ----- //
.txtContainer {
    @include flex(center, center, column);
    padding-bottom: 3rem;
    font-weight: bold;
    width: 100%;
    mix-blend-mode: difference;
    color: $lightbeige;
    text-align: center;

    @include tablet {
        @include flex(center, flex-start, column);
        text-align: left;
    }

    div { overflow: hidden; }

    .txtTop {
        padding-bottom: 1rem;
        @include tablet { 
            padding-bottom: 0;
            font-size: 1.2rem;
        };
        @include laptop { 
            font-size: 1.5rem; 
            padding-left: 1rem;
        };
        @include desktop { font-size: 1.7rem; };

        .circle { padding: 0.1rem 0.5rem; }
    }
    
    p {
        text-transform: uppercase;
        line-height: 1.2;
        font-size: min(9vw, 6.5rem);

        @include desktopLg {
            font-size: 9rem;
        }

        @include breakpoint($bp: 2240px) {
            font-size: 11rem;
        }
    }

    .subTxt {
        padding-top: 1rem;
        text-transform: lowercase;
        font-size: $fs-home-heroSubTitle--mobile;

        @include tablet { font-size: 1.5rem; };
        @include desktop { 
            padding-top: 1.7rem;
            font-size: 2rem; 
        };

        span {  font-family: $BigDailyShort500; }
    }
}
