@use '../../../sass/abstracts/' as *;
@use 'sass:math';

.container {
    @include flex(flex-end, center, column);
    height: 95vh;
    overflow: hidden;
    position: relative;
    padding: 0 1rem;
    margin-bottom: 5rem;

    @include tablet { 
        padding: 0 2rem;
        margin-bottom: 7rem;
    }
    @include laptop { 
        padding: 0 3rem;
        margin-bottom: 9rem;
    }

    @include desktop {
        margin-bottom: 12rem;
    }
}

// ----- Hidden H1 ----- //
.title { opacity: 0; }


// ----- Hero Texts ----- //
.txtContainer {
    @include flex(center, flex-start, column);
    padding-bottom: 3rem;
    font-weight: bold;
    width: 100%;

    .txtTop {
        padding-bottom: 1rem;
        @include tablet { padding-bottom: 0 };
    }
    
    p {
        text-transform: uppercase;
        font-size: min(9vw, 5rem);

        @include desktop { 
            line-height: 1.2;
            font-size: 7rem;
        };
    }

    .subTxt {
        padding-top: 1rem;
        text-transform: lowercase;
        font-size: $fs-home-heroSubTitle--mobile;

        @include tablet { font-size: $fs-home-heroSubTitle--tablet; };
        @include desktop { 
            padding-top: 1.7rem;
            font-size: $fs-home-heroSubTitle--desktop; 
        };

        span { font-family: $BigDailyShort500; }
    }
}
