@use '../../../sass/abstracts/' as *;

.container {
    margin-top: $mt-firstSection-mobile;
    @include laptop { 
        margin-top: calc(60px + 3rem);
        @include grid(auto 1fr, 2rem);
    };
}

.content {
    border: $greyLine;
    border-radius: $br-container--mobile;
    position: relative;
    overflow: hidden;

    section { 

        p { line-height: 1.7; }

    }
}

.sectionOne {

    .txtContainer {
        padding-bottom: 3rem;
    
        @include laptop {
            @include grid(repeat(12, 1fr), 2rem);
        }
    
        p {
            padding-bottom: $pb-paragraph;
            @include laptop { 
                grid-column: auto / span 6;
                padding-bottom: 0;
            }
        }
    }
    
    .imgContainer {
        background: $grey;
        width: 100%;
        height: 70vh;
    }
}

.sectionTwo {

    .contentContainerOne {
        padding: 2rem 0;
        @include desktop {
            @include grid(repeat(12, 1fr), 2rem);
        }
        .txtContainer {

            @include desktop {
                grid-column: auto / span 6;
                order: 2;
                @include flex(flex-end, flex-start, column);
            }

            h4 { padding-bottom: $pb-paragraph; }
            p { padding-bottom: $pb-paragraph; }
        }

        .imgContainer {
            background: $grey;
            width: 100%;
            height: 50vh;
            
            @include desktop {
                grid-column: auto / span 6;
            }
        }
    }

    .contentContainerTwo {
        padding: 2rem 0;
        @include desktop {
            @include grid(repeat(12, 1fr), 2rem);
        }
        .txtContainer {

            @include desktop {
                grid-column: auto / span 6;
                @include flex(flex-end, flex-start, column);
                text-align: right;
            }

            h4 { padding-bottom: $pb-paragraph; }
            p { padding-bottom: $pb-paragraph; }
        }

        .imgContainer {
            background: $grey;
            width: 100%;
            height: 50vh;

            @include desktop {
                grid-column: auto / span 6;
            }
        }
    }
}

.sectionThree {

    .contentContainer {
        padding-top: 2rem;
        @include desktop {
            @include grid(repeat(12, 1fr), 2rem);
        }

        .txtContainer {
            @include desktop {
                grid-column: auto / span 6;
            }

            p { padding-bottom: $pb-paragraph; }
        }

        .codeContainer {
            @include desktop {
                grid-column: auto / span 6;
            }
        }
    }
}

.sectionFour {

    .contentContainer {
        padding-top: 2rem;
        @include desktop {
            @include grid(repeat(12, 1fr), 2rem);
        }

        .txtContainer {
            @include desktop {
                grid-column: auto / span 6;
                order: 2;
            }

            p { padding-bottom: $pb-paragraph; }
        }

        .codeContainer {

            @include desktop {
                grid-column: auto / span 6;
            }
        }
    }

}


.sectionFive {

    .contentContainerOne {
        padding-top: 2rem;
        @include desktop {
            @include grid(repeat(12, 1fr), 2rem);
        }

        .txtContainer {
            @include desktop {
                grid-column: auto / span 6;
                @include flex(flex-end, flex-start, column);
            }
            p { padding-bottom: $pb-paragraph; }
        }

        .imgContainer {
            background: $grey;
            width: 100%;
            height: 50vh;

            @include desktop {
                grid-column: auto / span 6;
            }
        }
    }

    .contentContainerTwo {
        padding-top: 2rem;
        @include desktop {
            @include grid(repeat(12, 1fr), 2rem);
        }

        .txtContainer {
            @include desktop {
                grid-column: auto / span 6;
                @include flex(flex-end, flex-start, column);
                order: 2;
            }
            p { padding-bottom: $pb-paragraph; }
        }

        .codeContainer {
            @include desktop {
                grid-column: auto / span 6;
            }
        }
        
    }
}

.sectionSix {
    .contentContainer {
        padding-top: 2rem;
        @include desktop {
            @include grid(repeat(12, 1fr), 2rem);
        }

        p {
            padding-bottom: $pb-paragraph;

            @include desktop {
                grid-column: auto / span 6;
            }
        }
    }
}