@use '../../sass/abstracts/' as *;

.wrapper {
    padding: 3rem 1rem 0 1rem;
    @include tablet { 
        padding: 0 2rem; 
        padding-top: $mb-section--laptop;
    };

    @include laptop { padding: 0 3rem; }
}

.container {
    padding: 2rem 0;
    @include tablet {
        @include grid(repeat(2, 1fr), 1rem);
        padding-bottom: 2rem;
    }

    @include laptop { padding-bottom: 2.5rem; }
}

.title {
    font-size: min($fs-heroTitle--mobile, 7rem);
    font-family: $BigDailyShort400;
    line-height: 1;
}

.label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: $fs-smallText--mobile;
    color: $grey;
    padding-bottom: 0.5rem;
}

.linkList {
    padding-bottom: 1rem;
    
    li {
        padding: 0.25rem 0;
    }

}

.copyContainer {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 2rem;

    @include tablet {
        text-align: right;
    }

    p { 
        padding: 0.25rem 0;
        line-height: 1;
    };
}

.scrollContainer {
    justify-content: flex-end;
}