@use '../../../sass/abstracts/' as *;

.container {
    color: $lightbeige;
    background: $black;
    border-radius: $br-container--mobile;
    @include flex(center, center, column);
    position: relative;
    overflow: hidden;
    margin-bottom: $mb-section--mobile;

    @include laptop { margin-bottom: $mb-section--laptop; }
    @include desktop { border-radius: $br-container--desktop; }
}

// 'HELLO WORLD' TXT //
.txtTop {
    font-size: $fs-smallText--mobile;
    text-transform: uppercase;
    @include positionAbsolute(auto, auto, 4rem, auto);
    @include laptop { 
        font-size: $fs-smallText--laptop;
        top: 5rem;
    };
}

// HEADING //
.heading {
    text-align: center;
    margin-top: 8rem;
    padding-bottom: $pb-heading--mobile;

    @include laptop {
        margin-top: 10rem;
        padding-bottom: $pb-heading--laptop;
    };
}

// DESCRIPTION TEXT //
.txtContainer { 
    text-align: center;

    p { 
        @include laptop {
            font-size: $fs-p-readability--laptop;
            line-height: $lh-p-readability--laptop;
        };
    }
}

.highlight { font-family: $PTSerif; }


// TERMINAL MARQUEE ANIMATION //
.terminalTitle {
    margin-bottom: $pb-heading--mobile;
    white-space: nowrap;
    font-size: $fs-aboutMeTitle--mobile;
    height: $fs-aboutMeTitle--mobile;
    text-transform: uppercase;
    position: relative;
    padding-bottom: $pb-heading--mobile; 
    @include tablet { 
        font-size: $fs-heroTitle--tablet;
        height: $fs-heroTitle--tablet;
    };
    @include laptop { 
        font-size: $fs-heroTitle--laptop; 
        padding-bottom: $pb-heading--laptop;
    };
    @include desktop {
        font-size: $fs-heroTitle--desktop;
        padding-bottom: 7rem;
    };
}

.anim1,
.anim2 {
    @include positionAbsolute(0, auto, 0, auto);
    white-space: nowrap;
    overflow: hidden;
    animation: marqueeAnim 20s linear infinite;

    span { 
        font-family: $PTSerif;
        text-transform: capitalize;
        padding-right: 0.3rem;
    }
}

.anim2 {
    animation-delay: 10s;
    transform: translateX(100%);
}

@keyframes marqueeAnim {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-150%); }
}


// TERMINAL MARQUEE ANIMATION //
.terminal {
    width: 100%;
    overflow: hidden;
    position: relative;
}