@use '../../sass/abstracts/' as *;

// ---- Projects List ---- //
.cardContainer {
    @include grid(none, none, repeat(4, 1fr), 3rem);
    padding-bottom: $mb-innerSection--mobile;

    @include laptop { 
        @include grid(repeat(2, 1fr), 2rem, repeat(2, 1fr), 3rem);
        padding-bottom: $mb-innerSection--laptop;
    };
}

.cardContainer__projects {
    @include grid(unset, unset, repeat(auto-fill, 1fr), 3rem);  
}

.card {
    &:hover .cardImg img { 
        filter: unset;
        transform: scale(105%);
    }
    &:hover .titleContainer p { transform: translateY(-100%); }
    &:hover .titleClone { top: 0; }
}

.cardLink { @include flex(center, center, column); }

.cardImg{
    @include flex(center, center);
    border: $greyLine;
    border-radius: $br-img;
    overflow: hidden;
    position: relative;

    img { transition: all 300ms cubic-bezier(.44,0,.66,.99); }
}

.cardDetails {
    height: 100%;
    width: 100%;
    padding-top: 1rem;
    position: relative;
}

.id {
    writing-mode: vertical-lr;
    @include positionAbsolute(auto, 0, 1rem, auto);
}

.txtContainer {
    width: 100%;
    @include flex(space-between, flex-start, column);
}

.titleContainer {
    position: relative;
    width: 100%;
    overflow: hidden;

    p { 
        transition: all 300ms ease-in-out;
        font-weight: bold;
    }
}

.titleClone {
    position: absolute;
    top: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $fs-h4--mobile;
    transition: top 300ms ease-in-out;
    @include flex(flex-start, center);

    @include laptop { font-size: $fs-h4--laptop };
    @include desktop { font-size: $fs-h4--desktop };

    svg {
        width: $fs-h4--mobile;
        height: $fs-h4--mobile;
        padding-left: 0.25rem;

        @include laptop { 
            width: $fs-h4--laptop;
            height: $fs-h4--laptop;
        };
        @include desktop { 
            width: $fs-h4--desktop;
            height: $fs-h4--desktop;
        };
    }
}