@use '../../../sass/abstracts/' as *;

.wrapper { overflow: hidden; };

.container {
    background: $black;
    color: $lightbeige;
    @include flex(flex-start, center);
    width: 400vw;
}

// ---- Banner ---- //
.banner {
    @include flex(center, center, column);

    h2 { padding: 2rem 0; };
    span { 
        font-size: $fs-smallText--mobile;
        @include laptop { font-size: $fs-smallText--laptop; };
    };

    .scroll {
        text-transform: uppercase;

        div {
            @include flex(center, center);

            p {
                font-size: $fs-smallText--mobile; 
                @include laptop { font-size: $fs-smallText--laptop; };
            };

            svg { 
                margin-left: 0.5rem;
                width: $fs-smallText--mobile;
                height: $fs-smallText--mobile;

                @include laptop {
                    width: $fs-smallText--laptop;
                    height: $fs-smallText--laptop;
                }
            }
        }
    }
}


// ---- Sections ---- //

.australia,
.fashion,
.hobby {
    padding: 2rem;
    @include flex(center, center);

    .sectionContainer {

        @include laptop {
            height: 80vh;
            @include flex(center, flex-start, column);
        }

        .txt { padding: 1rem 0; };
    
        .imgAnim {
            margin: auto;
            overflow: hidden;
        }
    }
}

