@use '../../sass/abstracts/' as *;

.overview {

    padding: 2rem 0;
    @include laptop { padding: 3rem 0; };

    li {
        @include flex(space-between, center);
        padding: 0.25rem 0;

        @include tablet {
            @include grid(25% 75%, 1rem);
        }


        span {
            text-transform: uppercase;
            font-weight: bold;
            @include laptop { font-size: 1.2rem; };
        }
    }
}
