@use '../../../sass/abstracts/' as *;

.container {
    margin-top: $mt-firstSection-mobile;
    @include laptop { 
        margin-top: calc(60px + 3rem);
        @include grid(auto 1fr, 2rem);
    };
}

.content {

    position: relative;
    overflow: hidden; 

    @include tablet {
        border: $greyLine;
        border-radius: $br-container--mobile;
    }

    section {  

        p { line-height: 1.7; } 

    }
}

.sectionOne {
    padding: 0;
    @include tablet { padding: 0 2rem; }

    .txtContainer {
        padding-bottom: 3rem;
    
        @include laptop {
            @include grid(repeat(12, 1fr), 2rem);
        }
    
        p {
            padding-bottom: $pb-paragraph;
            @include laptop { 
                grid-column: auto / span 6;
                padding-bottom: 0;
            }
        }
    }

    .imgContainer {
        overflow: hidden;
        @include flex(center, center);
        border-radius: $br-img;
    }

}

.sectionTwo {
    padding: 0;
    @include tablet { padding: 0 2rem; }

    .contentContainer {
        padding-top: 2rem;
        @include desktop {
            @include grid(repeat(12, 1fr), 2rem);
        }
    
        .txtContainer {
            @include desktop {
                grid-column: auto / span 6;
                order: 2;
            }
    
            p { padding-bottom: $pb-paragraph; }
        }
    
        .imgContainer {
            overflow: hidden;
            @include flex(center, center);
            border-radius: $br-img;
            
            @include desktop {
                grid-column: auto / span 6;
            }
        }
    }
}

.sectionThree {
    padding: 0;
    @include tablet { padding: 0 2rem; }

    .contentContainer {
        padding-top: 2rem;
        @include desktop {
            @include grid(repeat(12, 1fr), 2rem);
        }

        .txtContainerOne {
            @include desktop {
                grid-column: auto / span 6;
                // @include flex(flex-end, flex-start, column);
            }

            h4 { padding-bottom: $pb-paragraph; }
            p { padding-bottom: $pb-paragraph; }
        }

        .txtContainerTwo {
            @include desktop {
                grid-column: auto / span 6;
                // @include flex(flex-end, flex-start, column);
            }

            h4 { padding-bottom: $pb-paragraph; }
            p { padding-bottom: $pb-paragraph; }
        }
    }
}

.sectionFour {
    padding: 0;
    @include tablet { padding: 0 2rem; }

    .contentContainerOne {
        padding: 2rem 0;
        @include desktop {
            @include grid(repeat(12, 1fr), 2rem);
        }
    
        .txtContainer {
            @include desktop {
                grid-column: auto / span 6;
            }
    
            p { padding-bottom: $pb-paragraph; }
        }
    
        .codeContainer {
            @include desktop {
                grid-column: auto / span 6;
            }

            pre {
                border-radius: $br-img;
            }
        }
    }
}

.sectionFive {
    padding: 0;
    @include tablet { padding: 0 2rem; }
    
    .contentContainer {
        padding-top: 2rem;

        p {
            padding-bottom: $pb-paragraph;
        }
    }
}